# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# macOS
.DS_Store

# Virtual environments
venv/
.env/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Distribution / packaging
build/
dist/
*.egg-info/

# Python byte-compiled cache
.pytest_cache/

# Docker
docker-compose.override.yml

# Streamlit cache
.streamlit/
